# Ignore build output
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
build/

# Ignore compiled files
*.obj
*.exe
*.ilk
*.log
*.pdb
*.idb
*.suo
*.user
*.cache
*.tlog

# Ignore Visual Studio files
*.vcxproj.user
*.VC.db
*.opensdf
*.sdf

# Ignore temporary files
*.tmp
*.bak
*.ncb

# Ignore .vs folder (Visual Studio's cache/settings)
.vs/
