# Visual Studio build files
*.obj
*.exe
*.pdb
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.cache
*.log

# Build folders
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
.vscode/
.ipch/
*.tlog/
*.VC.db
.vs/
